{
  "root": true,
  "extends" : [
    "eslint:recommended",
    "prettier",
  ],
  "env": {
    "es2022": true,
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "globals" : {
    "artifacts": "readonly",
    "contract": "readonly",
    "web3": "readonly",
    "extendEnvironment": "readonly",
    "expect": "readonly",
  }
}
