{
  "extends" : [
    "standard",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "promise"
  ],
  "env": {
    "browser" : true,
    "node"    : true,
    "mocha"   : true,
    "jest"    : true
  },
  "globals" : {
    "artifacts": false,
    "contract": false,
    "assert": false,
    "web3": false
  },
  "rules": {

    // Strict mode
    "strict": [2, "global"],

    // Code style
    "camelcase": [2, {"properties": "always"}],
    "comma-dangle": [1, "always-multiline"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "dot-notation": [2, {"allowKeywords": true, "allowPattern": ""}],
    "eol-last": 1,
    "eqeqeq": [2, "smart"],
    "generator-star-spacing": ["error", "before"],
    "indent": [2, 2],
    "max-len": [2, 120, 2],
    "no-debugger": 0,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-redeclare": [2, {"builtinGlobals": true}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-undef": 2,
    "no-use-before-define": 0,
    "no-var": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "always"],

    "promise/always-return": 0,
    "promise/avoid-new": 0,
  }
}
